.item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.35rem;
}
.item-actions {
  display: flex;
  gap: 0.35rem;
}
.label-input {
  display: flex;
  align-items: center;
}
.label-input {
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.label-input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
.label-input:hover input ~ .checkmark {
  background-color: #ccc;
}
.label-input input:checked ~ .checkmark {
  background-color: rgb(193, 8, 29);
}
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.label-input input:checked ~ .checkmark:after {
  display: block;
}
.label-input .checkmark:after {
  left: 25%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) translate(-50%, -50%);
}
@media (max-width: 767.98px) {
  .item-wrapper {
    margin-top: 1rem;
    flex-direction: column;
    gap: 0.35rem;
  }
}
